nav {
    background-color: rgb(65, 65, 65);
}

h1 {
    color: white;
    text-align: center;
    margin: auto;
}

#sidebar {
    background-color: rgb(247, 245, 245);
}

#search-bar {
    margin-top: 10px;
}

#search-btn {
    background-color: rgb(42, 100, 207);
}

.btn {
    margin-right: 80px;
    margin-bottom: 20px;
}

.list-group {
    width: 95%;
}

#weather-now {
    margin-top: 20px;
}

#forecast {
    margin-top: 20px;
}