nav {
    background-color: rgb(65, 65, 65);
}

h1 {
    color: white;
    text-align: center;
    margin: auto;
}

#main-content {
    width: 110%;
    margin-left: -100px;
}

#sidebar {
    background-color: rgb(247, 245, 245);
    padding-left: 2%;
}

#search-bar {
    margin-top: 10px;
}

#search-btn {
    background-color: rgb(104, 150, 236);
}

.btn {
    margin-right: 80px;
    margin-bottom: 20px;
}

.list-group {
    width: 95%;
}

#weather-now {
    margin-top: 20px;
}

#main-display {
    width: 115%;
}

#forecast {
    margin-top: 20px;
    width: 115%;
}

.forecast-card {
    color: white;
    background-color: rgb(104, 150, 236);
    width: 160px;
}

.cardDt {
    font-size: larger;
}

#uv {
    color: lightgray;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}